@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poetsen One', Arial, sans-serif;
}

body {
    background-color: #ff66a3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

#form-container h1 {
    background-color: #ff66a3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #000;
}

form fieldset {
    border: none;
}

form img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

form h3 {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ff66a3;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"],
form input[type="reset"] {
    width: 45%;
    padding: 10px;
    margin: 10px 5px 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: #ff66a3;
    color: #fff;
}

form input[type="reset"] {
    background-color: #e60073;
    color: #fff;
}